h1 {
  margin-bottom: 10px;
}

#courseList {
  #courseTable {
    margin: 30px auto;
    width: 600px;
    text-align: center;

    .division-heading {
      padding-top: 25px;
    }
  }
}

.course-link:hover {
  background-color: $main_color;
  cursor: pointer;
}
