header {
  border-bottom: solid #111 2px;
  margin-bottom: 20px;
  overflow: hidden;

  h1 {
    display:block;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
    align-items: baseline;

  li {
    font-size: 25px;
    font-weight: bold;
    }
  }
}
