.heading {
  width: 75%;
  float: left;
  clear: none;
  h1, h2, h3 {
    text-transform: uppercase;
  }
}

.edit-button {
  margin-top: 0;
  float: right;
  clear: none;
  position: relative;
}

#courseInfo {
  margin-top: 50px;
  float: left;
  clear: both;
}

#courseActions {
  float: left;
  margin-top: 50px;
  clear: both;
  width: 100%;

  h2 {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    display: block;
  }

  #addParticipants {
    float: left;
    border-right: 1px solid #111;
    padding-right: 20px;
    #submit {
      margin-top: 10px;
    }
  }

  #courseManagement {
    float: right;

    #courseManagementButtons {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

}

#participantInfo {
  width: 100%;
  margin-top: 40px;
  #profilePic {
    display: block;
    float: right;
    width: 33%;
    height: auto;
  }

  #attributesList {
    display: block;
    float: left;
    width: 66%;
    padding: 0;
    margin: 0;
    padding-right: 10px;
  }

}

#participantCourses {
  float: left;
  margin-top: 30px;
  clear: left;
}
